In [1]:
#!pip install requests

In [2]:
years = list(range(1994,2023))

In [3]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [11]:
import requests
import os

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   ---------- ----------------------------- 30.7/112.2 kB ? eta -:--:--
   ---------------------------------------- 112.2/112.2 kB 1.6 MB/s eta 0:00:00
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [4]:
for year in years:
    url = url_start.format(year)
    data = requests.get(url)
    with open("mvp/{}.html".format(year), "w+",encoding="utf-8") as f: #Need encoding
        f.write(data.text)

In [3]:
from bs4 import BeautifulSoup

In [15]:
import pandas as pd
import io
from io import StringIO

In [16]:
dfs = []

for year in years:
    with open("mvp/{}.html".format(year),encoding="utf-8") as f:
        page = f.read()
    soup = BeautifulSoup(page,"html.parser")
    soup.find('tr', class_="over_header").decompose()
    mvp_table = soup.find(id="mvp")
    mvp_table_html = str(mvp_table)
    mvp_table_io = StringIO(mvp_table_html)
    mvp = pd.read_html(mvp_table_io)[0]
    mvp["Year"] = year
    dfs.append(mvp)

In [17]:
print(dfs[0])

   Rank             Player  Age   Tm  First  Pts Won  Pts Max  Share   G  \
0     1    Hakeem Olajuwon   31  HOU   66.0    889.0     1010  0.880  80
1     2     David Robinson   28  SAS   24.0    730.0     1010  0.723  80
2     3     Scottie Pippen   28  CHI    7.0    390.0     1010  0.386  72
3     4   Shaquille O'Neal   21  ORL    3.0    289.0     1010  0.286  81
4     5      Patrick Ewing   31  NYK    1.0    255.0     1010  0.252  79
5     6        Gary Payton   25  SEA    0.0     20.0     1010  0.020  82
6    7T         Shawn Kemp   24  SEA    0.0     17.0     1010  0.017  79
7    7T        Karl Malone   30  UTA    0.0     17.0     1010  0.017  82
8     9         Mark Price   29  CLE    0.0      7.0     1010  0.007  76
9    10    Charles Barkley   30  PHO    0.0      5.0     1010  0.005  65
10  11T    Mookie Blaylock   26  ATL    0.0      1.0     1010  0.001  81
11  11T      Kevin Johnson   27  PHO    0.0      1.0     1010  0.001  67
12  11T      Dennis Rodman   32  SAS    0.0      1.0     1010  0.001  79
13  11T   Latrell Sprewell   23  GSW    0.0      1.0     1010  0.001  82
14  11T      John Stockton   31  UTA    0.0      1.0     1010  0.001  82
15  11T  Dominique Wilkins   34  TOT    0.0      1.0     1010  0.001  74
16  11T       Kevin Willis   31  ATL    0.0      1.0     1010  0.001  80

      MP  ...   TRB   AST  STL  BLK    FG%    3P%    FT%    WS  WS/48  Year
0   41.0  ...  11.9   3.6  1.6  3.7  0.528  0.421  0.716  14.3  0.210  1994
1   40.5  ...  10.7   4.8  1.7  3.3  0.507  0.345  0.749  20.0  0.296  1994
2   38.3  ...   8.7   5.6  2.9  0.8  0.491  0.320  0.660  11.2  0.194  1994
3   39.8  ...  13.2   2.4  0.9  2.9  0.599  0.000  0.554  16.9  0.252  1994
4   37.6  ...  11.2   2.3  1.1  2.7  0.496  0.286  0.765  13.1  0.211  1994
5   35.1  ...   3.3   6.0  2.3  0.2  0.504  0.278  0.595   9.3  0.155  1994
6   32.9  ...  10.8   2.6  1.8  2.1  0.538  0.250  0.741  11.7  0.216  1994
7   40.6  ...  11.5   4.0  1.5  1.5  0.497  0.250  0.694  13.4  0.193  1994
8   31.4  ...   3.0   7.8  1.4  0.1  0.478  0.397  0.888  10.0  0.201  1994
9   35.4  ...  11.2   4.6  1.6  0.6  0.495  0.270  0.704   8.8  0.185  1994
10  36.0  ...   5.2   9.7  2.6  0.5  0.411  0.334  0.730  10.2  0.168  1994
11  36.6  ...   2.5   9.5  1.9  0.1  0.487  0.222  0.819   8.7  0.170  1994
12  37.8  ...  17.3   2.3  0.7  0.4  0.534  0.208  0.520   8.7  0.140  1994
13  43.1  ...   4.9   4.7  2.2  0.9  0.433  0.361  0.774   8.0  0.108  1994
14  36.2  ...   3.1  12.6  2.4  0.3  0.528  0.322  0.805  13.2  0.214  1994
15  35.6  ...   6.5   2.3  1.2  0.4  0.440  0.288  0.847   8.4  0.153  1994
16  35.8  ...  12.0   1.9  1.0  0.5  0.499  0.375  0.713  10.2  0.170  1994

[17 rows x 21 columns]

In [18]:
mvps = pd.concat(dfs)

In [19]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Hakeem Olajuwon,31,HOU,66.0,889.0,1010,0.880,80,41.0,...,11.9,3.6,1.6,3.7,0.528,0.421,0.716,14.3,0.210,1994
1,2,David Robinson,28,SAS,24.0,730.0,1010,0.723,80,40.5,...,10.7,4.8,1.7,3.3,0.507,0.345,0.749,20.0,0.296,1994
2,3,Scottie Pippen,28,CHI,7.0,390.0,1010,0.386,72,38.3,...,8.7,5.6,2.9,0.8,0.491,0.320,0.660,11.2,0.194,1994
3,4,Shaquille O'Neal,21,ORL,3.0,289.0,1010,0.286,81,39.8,...,13.2,2.4,0.9,2.9,0.599,0.000,0.554,16.9,0.252,1994
4,5,Patrick Ewing,31,NYK,1.0,255.0,1010,0.252,79,37.6,...,11.2,2.3,1.1,2.7,0.496,0.286,0.765,13.1,0.211,1994

In [12]:
mvps.to_csv("mvps.csv")

In [14]:
#!pip install selenium

Requirement already satisfied: selenium in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (4.9.0)
Requirement already satisfied: urllib3~=1.26 in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.26.15)
Requirement already satisfied: trio~=0.17 in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: attrs>=19.2.0 in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (23.1.0)
Requirement already satisfied: sortedcontainers in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\victo\appdata\local\programs\python\python311\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [5]:
from selenium import webdriver
options = webdriver.EdgeOptions()
driver = webdriver.Edge(options=options)
import time

In [30]:
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"
for year in years:
    url = player_stats_url.format(year)
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(2)
    html = driver.page_source
    with open("player/{}.html".format(year), "w+", encoding = "utf-8") as f:
        f.write(html)

In [20]:
df = []
for year in years:
    with open("player/{}.html".format(year), encoding = "utf-8") as f:
        page = f.read()
        
    soup = BeautifulSoup(page,"html.parser")
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find(id="per_game_stats")
    player_table_html = str(player_table)
    player_table_io = StringIO(player_table_html)
    player = pd.read_html(player_table_io)[0]
    player["Year"] = year
    df.append(player)

In [21]:
players = pd.concat(df)

In [22]:
players.to_csv("players.csv")

In [6]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

In [12]:
for year in years:
    url = team_stats_url.format(year)
    
    data = requests.get(url)
    
    with open("team/{}.html".format(year), "w+",encoding = "utf-8") as f:
        f.write(data.text)

In [25]:
df = []
for year in years:
    with open("team/{}.html".format(year), encoding = "utf-8") as f:
        page = f.read()
        
    soup = BeautifulSoup(page,"html.parser")
    soup.find('tr', class_="thead").decompose()
    team_table = soup.find(id="divs_standings_E")
    team_table_html = str(team_table)
    team_table_io = StringIO(team_table_html)
    team = pd.read_html(team_table_io)[0]
    team["Year"] = year
    team["Team"] = team["Eastern Conference"]
    del team["Eastern Conference"]
    df.append(team)
    
    soup = BeautifulSoup(page,"html.parser")
    soup.find('tr', class_="thead").decompose()
    team_table = soup.find(id="divs_standings_W")
    team_table_html = str(team_table)
    team_table_io = StringIO(team_table_html)
    team = pd.read_html(team_table_io)[0]
    team["Year"] = year
    team["Team"] = team["Western Conference"]
    del team["Western Conference"]
    df.append(team)

In [26]:
teams = pd.concat(df)
teams

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                   Team
0   57  25  .695     —   98.5   91.5   6.48  1994       New York Knicks*
1   50  32  .610   7.0  105.7  101.8   3.68  1994         Orlando Magic*
2   45  37  .549  12.0  103.2  101.0   2.11  1994       New Jersey Nets*
3   42  40  .512  15.0  103.4  100.7   2.40  1994            Miami Heat*
4   32  50  .390  25.0  100.8  105.1  -4.28  1994         Boston Celtics
..  ..  ..   ...   ...    ...    ...    ...   ...                    ...
13  56  26  .683     —  115.6  109.9   5.37  2022     Memphis Grizzlies*
14  52  30  .634   4.0  108.0  104.7   3.12  2022      Dallas Mavericks*
15  36  46  .439  20.0  109.3  110.3  -0.84  2022  New Orleans Pelicans*
16  34  48  .415  22.0  113.2  113.0   0.02  2022      San Antonio Spurs
17  20  62  .244  36.0  109.7  118.2  -8.26  2022        Houston Rockets

[978 rows x 9 columns]

In [27]:
teams.to_csv("teams.csv")